{% extends "base.html" %}
{% block title %}
推奨文字数カリキュレーター
{% endblock %}
{% block content %}
<div class="col-sm-12 col-lg-9">

    <h2 class="mb-3">推奨文字数カリキュレーター</h2>
  
    <label for="keyword">キーワード</label>

    <input id="input_data" class="form-control" type="text" name="input_data">

    <button id="button1" class="m-3 btn btn-primary" type="button">調査する</button>
    <div id="resultGET"></div>

</div>
{% endblock %}

{% block url %}url: "{% url 'chrcount' %}",{% endblock %}
                