{% extends "base.html" %}
{% block title %}
テキストのHTML化
{% endblock %}
{% block content %}
<div class="col-sm-12 col-lg-9">
    <h2 class="mb-3">テキストのHTML化</h2>
</div>
<div class="col-sm-12 col-lg-6">

    <textarea id="baseText" style="width:100%" rows="15" placeholder="対象のテキストを入力してください" class="mb-2"></textarea>
    <textarea id="outputhtml" class="outputhtml" name="outputhtml" style="width:100%" rows="15" class="mb-2" readonly></textarea>
</div>

<div class="col-sm-12 col-lg-3">
    <p>HTML化する</p>
    <div class="m-1 border rounded">
        <button id="btnReplaceAll" class="m-2 btn w-75 btn-primary" type="button">一括置換</button>
    </div>
    <p>空行</p>
        <textarea id="blank-line" style="width:100%" rows="1" placeholder="空行に置き換えるテキスト" class="mb-2">&lt;p&gt;&amp;nbsp;&lt;/p&gt;</textarea>
    <p>行の前</p>
        <textarea id="before-line" style="width:100%" rows="1" placeholder="空行に置き換えるテキスト" class="mb-2">&lt;p&gt;&lt;span style=&quot;font-size: 12pt;&quot;&gt;</textarea>
    <p>行の後</p>
        <textarea id="after-line" style="width:100%" rows="1" placeholder="空行に置き換えるテキスト" class="mb-2">&lt;/span&gt;&lt;/p&gt;</textarea>
    <p>ヘッダ</p>
        <textarea id="r-header" style="width:100%" rows="5" placeholder="空行に置き換えるテキスト" class="mb-2">
&lt;strong&gt;╋ 副業で月収115万円講座 ╋&lt;/strong&gt;

こんにちは、ヒデローです。


このメルマガでは
「大好きな事で効率良く稼ぐための方法」
をお伝えしています。


------------------
※このメルマガが不要な場合は
こちらから解除してください
→　%%delpage%%
------------------


        </textarea>
    <p>ヘッダ</p>
        <textarea id="r-footer" style="width:100%" rows="5" placeholder="空行に置き換えるテキスト" class="mb-2">


今回も最後まで読んでいただき
ありがとうございました。


ヒデロー


◇---------------------------◇
◆ このメルマガについて
◇---------------------------◇

このメルマガでは
『大好きな事で稼ぐ方法』を
実際に僕が稼いだときの【具体例】
も交えながらお伝えしていきます。


また新たに作成した【ツール】の
プレゼントも予定しています。


◇---------------------------◇
◆ 迷惑メール対策
◇---------------------------◇

僕からのメルマガを確実に受け取るために
以下の設定をしておいてください。

http://46mail.net/index.php?e=hidero@fun-shift.net


今は大丈夫でも、突然迷惑メールフォルダに
入ってしまう場合もありますので、
どうぞよろしくお願いします。

◇---------------------------◇
◆ 感想、質問
◇---------------------------◇

メールの感想やご質問を受け付けています。

どんな事でも大歓迎なので
ご遠慮なくご連絡ください。

■お問い合わせフォーム
https://hidero.net/toiawase/


■□・…━━━━━━━━━━━━━
 
　　事業者名：ファンシフト
　　代表　ヒデロー（田方 秀郎）
 
　　Email: hidero@fun-shift.net
　　URL  : https://hidero.net/tokusho/

■□・…━━━━━━━━━━━━━

□ メルマガの配信解除はこちら
%%delpage%%

        </textarea>

    <div id="messageArea"></div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    var storeData = [];
    var storeIndex = 0;

     $('#btnReplaceAll').click(function() {

        var footerandhtml =  document.getElementById('r-header').value + document.getElementById('baseText').value + document.getElementById('r-footer').value;
        document.getElementById("baseText").value =footerandhtml;
        
        var text  = document.getElementById('baseText').value.replace(/\r\n|\r/g, "\n");
        var lines = text.split( '\n' );
        var outArray = new Array();
        
        for ( var i = 0; i < lines.length; i++ ) {
            // 空行は無視する
            if ( lines[i] == '' ) {
                //lines[i]  = '<p>&nbsp;</p>';
                lines[i]  = document.getElementById('blank-line').value
            } else {
                //lines[i]  = '<p><span style="font-size: 12pt;">' + lines[i] + '</span></p>';
                lines[i]  = document.getElementById('before-line').value + lines[i] + document.getElementById('after-line').value;
            }
        
            lines[i] = lines[i].replace('[link]', '')
            lines[i] = lines[i].replace('%%delpage%%', '<a href="%%Delpage%%">%%Delpage%%</a>')

            lines[i] = AutoLink(lines[i]) 

            outArray.push( lines[i] );
        }

        if( outArray.length ){
            var overridehtml = "";
            for ( var i = 0; i < outArray.length; i++ ) {
                overridehtml = overridehtml + outArray[i] + '\n';
            }
            $("textarea.outputhtml").val(overridehtml);
        }

        copyText('outputhtml');

        });

        function AutoLink(str) {
            var regexp_url = /((h?)(ttps?:\/\/[a-zA-Z0-9.\-_@:/~?%&;=+#',()*!]+))/g; // ']))/;
            var regexp_makeLink = function(all, url, h, href) {
                return '<a href="h' + href + '">' + url + '</a>';
            }
         
            return str.replace(regexp_url, regexp_makeLink);
        }

        function copyText(id){
            var txt = document.getElementById(id);
            txt.select();
            document.execCommand("Copy");
        }


    function createRangeSelect(start, end) {
        let selection = document.getElementById('baseText');  
        selection.setSelectionRange(start, end);
        selection.focus();
    }

    function getCurrentLine(textarea) {
        return textarea.value.substr(0, textarea.selectionStart).split(/\r?\n/).length;
    }

    function scrollToLine(line) {
        var textarea = document.getElementById("baseText");
        var jump = (line - 1) * parseInt(getStyle(textarea, 'line-height'), 10);
        textarea.scrollTop = jump;
    }

    function getStyle(el, styleProp) {
        if (el.currentStyle) {
            var y = el.currentStyle[styleProp];
        } else if (window.getComputedStyle) {
            var y = document.defaultView.getComputedStyle(el, null).getPropertyValue(styleProp);
        }
        return y;
    }

    function saveData(data) {
        storeData.push(data);
        storeIndex = storeData.length - 1;
        //disableNextEnablePre();
        //$('#btnResetData').removeAttr("disabled");
        //$('#btnResetData').removeClass("blockCursor");
    }

    function disableNextEnablePre () {
        $('#btnNextData').attr("disabled", true);
        $('#btnNextData').addClass("blockCursor");
        $('#btnPreData').removeAttr("disabled");
        $('#btnPreData').removeClass("blockCursor");
    }
    
    function replaceAll(str, regExp, replace) {
        return str.replace(regExp, replace);
    }

    function escapeRegExp(str) {
        return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
    }
</script>
{% endblock %}


{% block url %}url: "{% url 'whois' %}",{% endblock %}