{% extends "base.html" %}
{% block title %}
ネットビジネスツールズ
{% endblock %}
{% block content %}

        <div class="col-sm-12 col-lg-4">
            <div class="DivLink mb-3">
                <div class="p-2">
                    <p><span class = "top-title">■リアルタイム文字カウンター</span></p>
                    <p>文字数をリアルタイムにカウントします。</p>
                    <a class ="Link" href="{% url 'realtimecnt' %}"></a>
                </div>
            </div>
            <div class="DivLink mb-3">
                <div class="p-2">
                    <p><span class = "top-title">■推奨文字数</span></p>
                    <p>指定したキーワードで記事を書く場合の推奨文字数を調査します。</p>
                    <a class ="Link" href="{% url 'chrcount' %}"></a>
                </div>
            </div>
            <div class="DivLink mb-3">
                <div class="p-2">
                    <p><span class = "top-title">■ライバル見出し調査</span></p>
                    <p>指定したキーワードで上位表示されているサイトの見出しを一括で抽出します。</p>
                    <a class ="Link" href="{% url 'heading' %}"></a>
                </div>
            </div>
            <div class="DivLink mb-3">
                <div class="p-2">
                    <p><span class = "top-title">■Whois調査</span></p>
                    <p>ドメインのWhoisを調査します。</p>
                    <a class ="Link" href="{% url 'whois' %}"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-4">
            <div class="DivLink mb-3">
                <div class="p-2">
                    <p><span class = "top-title">■関連キーワードチェッカー</span></p>
                    <p>指定したキーワードの関連キーワードを一覧表示します。</p>
                    <a class ="Link" href="{% url 'suggest' %}"></a>
                </div>
            </div>
            <div class="DivLink mb-3">
                <div class="p-2">
                    <p><span class = "top-title">■虫眼鏡キーワード＋広告</span></p>
                    <p>指定したキーワードに対するヤフーの虫眼鏡キーワードと広告を表示します。</p>
                    <a class ="Link" href="{% url 'suggest' %}"></a>
                </div>
            </div>
            <div class="DivLink mb-3">
                <div class="p-2">
                    <p><span class = "top-title">■文字列の書き換え</span></p>
                    <p>複数の文字列を一括で置き換えます。</p>
                    <a class ="Link" href="{% url 'replace' %}"></a>
                </div>
            </div>
            <div class="DivLink mb-3">
                <div class="p-2">
                    <p><span class = "top-title">■頻出キーワード調査</span></p>
                    <p>複数の文字列を一括で置き換えます。</p>
                    <a class ="Link" href="{% url 'frequent' %}"></a>
                </div>
            </div>
        </div>

{% endblock %}